*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#cursor {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    font-size:4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: all linear 0.05s;
}
#cursor img{
    width: 10px;
    display: none;
}
#loader{
    width: 100%;
    height: 100vh;
    background-color: #f3c77c;
    position: absolute;
    z-index: 999;
}
#loader #load{
    width: 300px;
    position: absolute;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: cubic-bezier(0.19, 1, 0.22, 1)-1s;
}
#load img{
    position: absolute;
}
#load #img1{
    opacity: 0;
}
#load #img2{
    opacity: 0;
}
#load #img3{
    opacity: 0;
}
#load #img4{
    opacity: 0;
}
#load #img5{
    opacity: 0;
}
#load #img6{
    opacity: 0;
}
#load #img7{
    opacity: 0;
}
#load #img8{
    opacity: 0;
}
#load #img9{
    opacity: 0;
}
#load #img10{
    opacity: 0;
}
#load #img11{
    opacity: 0;
}
#load #img12{
    opacity: 0;
}
#main{
    position: relative;
    background-color:#151414;
    width: 100%;  
}
#nav{
    background-color:#151414;
    width: 100%;
    height: 10vh;
    padding: 50px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0%;
    left: 0%;
}
#logo{
    background-color:pink;
    width: 80px;
    height: 80px;
    background-color: #e7cfb1;
}
#logo img{
    width: 85px;
    height: 80px;
}
#nav #headings{
    z-index: 99;
    width: 700px;
    height: 50px;
    font-size: 16px;
    font-family:helvetica;
    font-weight: 10;
    color: #e7cfb1;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
#nav h3:hover{
    color: #e5813e;
    
}
#headings h3:hover{
    color: #e5813e;
    cursor: pointer;
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3 #elem{
    overflow:hidden;
}
#page1 h1{
    font-family:helvetica;
    font-size: 39vw;
    color: #f3c77c;
    font-weight: 800;
    transform: scaleY(1.1);
    letter-spacing: -1cm;
}
#page1 h3:hover{
    color: #e5813e;
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151414;
}
#text{
    width: 50vw;
    height: 20vh;
    position: relative;
    left: 50%;
    top:10%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#text h3{
    font-family: helvetica;
    font-size: 2.5vw;
    color: #f3c77c;
    font-weight: 500;
    letter-spacing: -0.02cm;
}
#page2 #video{
    /* background-color: #e7cfb1; */
    margin-top: 200px;
    position:relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    width: 40vw;
    height: 40vw;
}
#video video{
    width: 100%; 
    height: 100%;   
}
#page3{
    height: 150vh;
    width: 100%;
    margin-top: 270px;
    color:#e7cfb1;
    padding:170px 70px;
}
#page3-1{
    width: 100%;
    height: 40%;
}
#page3-1 h1{
    font-size: 12vw;
    font-family: helvetica;
    line-height: 4.2cm;
}
#page3-1 span{
    font-family: ivy;
    font-style: italic;
}
#page3-2{
    width: 100%;
    height: 24%;
}
#page3-2 h1{
    font-size: 12vw;
    font-family: helvetica;
    text-align: right;
    line-height: 5.3cm;
}
#page3-2 span{
    font-family: ivy;
    font-style: italic;
}
#page3-3{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#p3part1 h1{
    font-size: 12vw;
    font-family: helvetica;
    text-align: right;
    letter-spacing: -0.1cm;
}
#p3part2 h1{
    font-size: 1.5vw;
    font-family: helvetica;
    text-align: right;
    text-align: justify;
}
#page4{
    width: 100%;
    height: 440vh;
    padding-left:35px;
    padding-right:35px;
}
#div1{
    background-color: #151414;
    width: 50%;
    height: 70vh;
    overflow: hidden;
}
#div1 video{
    width: 100%;
    height: 110%;
}
#div1:hover{
    scale: 0.95;
    transition:all ease-in-out 0.3s;
}
#div1 video:hover{
    scale: 1.1;
    transition: all ease-in-out 0.3s;
}
#div1_head{
    font-family: helvetica;
    font-weight: 10;
    padding-top: 15px;
    color: #fff;
}
#div1_head h2{
    font-size: 20px;
}
#div1_head h3{
    font-size: 17px;
}
#div2{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: -40%;
    margin-left: 80%;
}
#div2 #img{
    width: 180px;
    animation:round 10s linear infinite;
}
@keyframes round {
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }   
}
#div2 #img2{
    width: 50px;
    position: absolute;
    margin-top: 60px;
    margin-left: -114px;
}
#div3{
    position: absolute;
    margin-left: 60%;
    margin-top: -20%;
    background-color: #151414;
    width: 35%;
    height: 60vh;
    overflow: hidden;
}
#div3 img{
    width: 100%;
    height: 110%;
}
#div3:hover{
    scale: 0.95;
    transition:all ease-in-out 0.3s;
}
#div3 img:hover{
    scale: 1.1;
    transition: all ease-in-out 0.3s;
}
#div3_head{
    font-family: helvetica;
    font-weight: 10;
    padding-top: 15px;
    color: #fff;
    margin-top: 10%;
    margin-left: 63%;

}
#div3_head h2{
    font-size: 20px;
}
#div3_head h3{
    font-size: 17px;
}
#div4{
    margin-top:10%;
    background-color: #151414;
    width: 35%;
    height: 60vh;
    overflow: hidden;
}
#div4 img{
    width: 100%;
    height: 110%;
}
#div4:hover{
    scale: 0.95;
    transition:all ease-in-out 0.3s;
}
#div4 img:hover{
    scale: 1.1;
    transition: all ease-in-out 0.3s;
}
#div4_head{
    position: absolute;
    font-family: helvetica;
    font-weight: 10;
    padding-top: 15px;
    color: #fff;
}
#div4_head h2{
    font-size: 20px;
}
#div4_head h3{
    font-size: 17px;
}
#div5{
    position: absolute;
    margin-top:-15%;
    margin-left: 46%;
    background-color: #151414;
    width: 48%;
    height: 75vh;
    overflow: hidden;
}
#div5 img{
    width: 100%;
    height: 110%;
}
#div5:hover{
    scale: 0.95;
    transition:all ease-in-out 0.3s;
}
#div5 img:hover{
    scale: 1.1;
    transition: all ease-in-out 0.3s;
}
#div5_head{
    position: absolute;
    font-family: helvetica;
    font-weight: 10;
    padding-top: 15px;
    color: #fff;
    margin-top: 22%;
    margin-left: 46%;
}
#div5_head h2{
    font-size: 20px;
}
#div5_head h3{
    font-size: 17px;
}
#div6{
    position: absolute;
    background-color: #151414;
    width: 65%;
    height: 100vh;
    overflow: hidden;
    left: 17%;
    margin-top: 38%;
    transform: scaleY(0.95);
}
#div6 video{
    background-position: center;
    width: 100%;
    height: 110%;
}
#div6:hover{
    scale: 0.95;
    transition:all ease-in-out 0.3s;
}
#div6 video:hover{
    scale: 1.1;
    transition: all ease-in-out 0.3s;
}
#div6_head{
    font-family: helvetica;
    font-weight: 10;
    padding-top: 15px;
    color: #fff;
    margin-top: 90%;
    margin-left: 15.3%;
}
#div6_head h2{
    font-size: 20px;
}
#div6_head h3{
    font-size: 17px;
}
#div7{
    position: absolute;
    background-color: #151414;
    width: 400px;
    height: 350px;
    padding: 45px 20px;
    margin-top: 17%;
    margin-left: 50%;
    transform: translate(-50%,-50%)rotateX(65deg);
    border-radius: 80%;
    border: 2px solid #e7cfb1;
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}
#div7_head{
    text-align: center;
    width: 300px;
    height: 100px;
    padding: 45px 20px;
    position: absolute;
    margin-top: 13%;
    margin-left: 40.5%;
}
#div7_head h1{
    font-weight: 100;
    font-family: helvetica;
    font-size: 23px;
    color: #e7cfb1;
}
#page5{
    width: 100%;
    height: 100vh;
    padding-left:35px;
    padding-right:35px;
    background-color:#9ac1cb;
}
::-webkit-scrollbar{
    display: none;
}
#page5{
    overflow-x: auto;
}
#page5 h1{
    margin-left:600px;
    font-size: 630px;
    font-family: helvetica;
    font-weight: 700;
    letter-spacing: -0.8cm;
}
#images{
    position: absolute;
    margin-top: -300px;
}
#page5 img{
    width: 280px;
    border: none;
}
#page5 #img1{
    position: absolute;
    margin-left: 1200px;
    margin-top: -300px;
    transform: rotate(10deg);
}
#page5 #img2{
    position: absolute;
    margin-left: 2200px;
    margin-top: -750px;
    transform: rotate(-10deg);
}
#page5 #img3{
    position: absolute;
    margin-left: 3100px;
    margin-top: -250px;
}
#div8{
    background-color: #9ac1cb;
    height: 60vh;
    width: 100%;
    display: flex;
    padding-top: 70px;
    justify-content: space-around;
    align-items: start;
    border: none;
}
#div8 ul{
    list-style-type: none;
    font-family: helvetica;
    font-size: 23px;
    font-weight: 100;
    color: #424141;
    line-height: 0.9cm;
}
#div8 #part1{
    width: 25%;
}
#div8 #part2{
    width: 25%;
}
#div8 #part3{
    width: 25%;
}
#div8 h1{
    font-size: 27px;
    font-family: helvetica;
    font-weight: 400;
    line-height: 1cm;
}
#page6{
    background-color: #151414;
    width: 100%;
    height: 225vh;
    padding: 100px 30px;
}
#page6 img{
    width: 160px;
}
#page6 #divi1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
#page6 #divi2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
#page6 #divi3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
#page6 #divi4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
#page6 #divi5{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
#page6 #divi6{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
#foot{
    border-top: 2px solid #e7cfb1;
    padding-top: 50px;
    margin-top: 100px;
    width: 100%;
    height: 200px;
    font-family: helvetica;
}
#foot h1{
    font-weight: 200;
    letter-spacing: -0.1cm;
    font-size: 100px;
    color:#695f53;
}
#foot span{
    color:#e7cfb1;
}
#foot h1::after{
   content: "";
   position: absolute;
   width: 50%;
   height: 2px;
   background-color: #fff;
   bottom: -50%;
   left: 50%;
   transform: translate(-50%,-50%);
   transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#foot span:hover::after{
    width: 100%;
}
#footer{
    position: relative;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
#footer h3{
    color: #fff;
    font-size: 13px;
    font-family: helvetica;
    font-weight: 600;
}
#footer h3:hover{
    color: #f3c77c;
    cursor: pointer;
}
